@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: white;
  background-color: #0A0A22;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

/*7) En App.js, function App(), contenedor aplicacion tareas*/
.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*8) Este contenedor es el que contiene al logo de FCC, dentro del contenedor de arriba*/
.freecodecamp-logo-contenedor {
  width: 100%;
  height: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*9) Dentro de la etiqueta img de App.js*/
/*10) Vamos a App.js*/
.freecodecamp-logo {
  height: 150px;
}

/*Lista de tareas*/
.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color:#d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}